#
# Copyright (C) 2013 Barchart, Inc. <http://www.barchart.com/>
#
# All rights reserved. Licensed under the OSI BSD License.
#
# http://www.opensource.org/licenses/bsd-license.php
#

#
# IDEA meatadata.
#
*.iml
*.ipr
*.iws

#
# Eclipse metadata.
#
.classpath
.project
.settings/

#
# Eclipse and Maven build results. 
#
bin/
target/

#
# Jenkins work folder.
#
work/
